<div id="<%= dom_id farmer %>">
  <p>
    <strong>Location:</strong>
    <%= farmer.location %>
  </p>

  <p>
    <strong>Contact infomation:</strong>
    <%= farmer.contact_infomation %>
  </p>

</div>
