<div id="<%= dom_id buyer %>">
  <p>
    <strong>Name:</strong>
    <%= buyer.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= buyer.location %>
  </p>

  <p>
    <strong>Farmer:</strong>
    <%= buyer.farmer_id %>
  </p>

</div>
